{
  "test": ".*.tsx?$",
  "exclude": ["lib", "coverage"],
  "isModule": true,
  "jsc": {
    "baseUrl": ".",
    "paths": {
      "app": ["src"],
      "app/*": ["src/*"],
      "core": ["src/core"],
      "core/*": ["src/core/*"],
      "context": ["src/context"],
      "context/*": ["src/context/*"],
      "routes": ["src/routes"],
      "routes/*": ["src/routes/*"],
      "components": ["src/components"],
      "components/*": ["src/components/*"],
      "hooks": ["src/hooks"],
      "hooks/*": ["src/hooks/*"],
      "api": ["src/api"],
      "api/*": ["src/api/*"],
      "data": ["src/data"],
      "data/*": ["src/data*"],
      "utils": ["src/utils"],
      "utils/*": ["src/utils/*"],
      "enums": ["src/enums"],
      "enums/*": ["src/enums/*"],
      "types": ["src/types"],
      "types/*": ["src/types/*"],
      "static": ["src/static"],
      "static/*": ["src/static/*"]
    },
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true,
      "topLevelAwait": true,
      "importMeta": true,
      "functionBind": true,
      "privateMethod": true,
      "classPrivateProperty": true,
      "exportDefaultFrom": true,
      "exportNamespaceFrom": true,
      "decorators": true,
      "decoratorsBeforeExport": true,
      "jsx": false,
      "tsx": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "optimizer": {
        "simplify": true,
        "jsonify": {
          "minCost": 0
        }
      },
      "react": {
        "runtime": "automatic",
        "importSource": "react",
        "pragma": "h",
        "pragmaFrag": "f",
        "useBuiltins": true,
        "throwIfNamespace": true,
        "development": true,
        "refresh": true
      }
    },
    "target": "es2022",
    "loose": false,
    "keepClassNames": false,
    "externalHelpers": false,
    "preserveAllComments": false,
    "experimental": {
      "keepImportAssertions": true,
      "plugins": []
    }
  },
  "module": {
    "type": "nodenext",
    "strict": true,
    "strictMode": true,
    "noInterop": false,
    "lazy": false
  },
  "sourceMaps": true,
  "inlineSourcesContent": true,
  "emitSourceMapColumns": true,
  "minify": true
}
